<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода</title>
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Главная</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Информация</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Документация</a></li>
          
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>
      </div>
    </div>
  </header>
<body>
    <div class="container mt-5">
   <div class="row">
       <div class="col-5">
        <h2>Погода в вашем городе</h2>
        <form action="" method="post">
          {% csrf_token %}
          <label>Город</label>
          {{ form.name }}
        <input type="submit" class='mt-2 btn btn-danger' aria-label="Sizing example input" aria-describedby="inputGr" name="send" value="Посмотреть">
        
    </form>

    </div>
    <div class="col-5 offset-2">
    <h1>Все города</h1><br>
      {% for info in all_cities %}
       <div class="alert alert-info">
       <div class=" row ">
        <div class="col-9">
        <b>Город:</b> {{ info.city }}<br>
        <b>Температура:</b> {{ info.temp}} <sup>о</sup>
       </div>
       <div class="col-2 offset-1">
         <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды">
       </div>
       </div>
       </div>
       {% endfor %}
   </div>
</div>
    
</body>
</html>